<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="two_dof_ros2_control" params="name prefix eth_device joint1_mechanical_reduction joint2_mechanical_reduction">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>synapticon_ros2_control/SynapticonSystemInterface</plugin>

        <param name="eth_device">${eth_device}</param>
        <param name="joint1_mechanical_reduction">${joint1_mechanical_reduction}</param>
        <param name="joint2_mechanical_reduction">${joint2_mechanical_reduction}</param>
      </hardware>

      <joint name="${prefix}joint1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <command_interface name="quick_stop"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <command_interface name="quick_stop"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
