name: Docker

on:
  # schedule:
  #   - cron: "0 1 * * *"
  push:
    branches: [ humble ]
  pull_request:
    branches: [ humble ]
  workflow_dispatch:

jobs:
  docker:
    strategy:
      matrix:
        ROS_DISTRO: [humble]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          build-args: ROS_DISTRO=${{matrix.ROS_DISTRO}}
          tags: ghcr.io/${{ github.repository_owner }}/synapticon_ros2_control:${{matrix.ROS_DISTRO}}
          push: ${{ (github.event_name != 'pull_request') && (github.ref == 'refs/heads/main') }} # only push from non-pull_request triggers and if branch name is 'main'
